<!--{template header}-->
<h2 class="title"><img src="image/icon/medicine.gif" />用药助手</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[medicine]><a href="#"><span>搜索结果</span></a></li>
		<li><a href="space.php?do=medicine"><span>返回用药助手</span></a></li>
	</ul>
</div>
<!--{if $list}-->
找到以下结果:
<!--{loop $list $value}-->
<table border="1" style="width:500px; margin:0 auto;">
　<tr><th>名称</th><th>$value[mingcheng]</th></tr>
  <tr><th>别名</th><th>$value[bieming]</th></tr>
  <tr><th>规格</th><th>$value[guige]</th></tr>
  <tr><th>单位</th><th>$value[danwei]</th></tr>
  <tr><th>单价</th><th>$value[danjia]</th></tr>
  <tr><th>自费</th><th>$value[zifei]</th></tr>
  <tr><th>自费比例</th><th>$value[zifeibili]</th></tr>
  <tr><th>社保比例</th><th>$value[shebaobili]</th></tr>
</table>
<br/><br/><hr style="height:1px;border:none;border-top:1px dashed #555555;"/><br/><br/>
<!--{/loop}-->
<!--{else}-->
<style>
body{color:#000;background:#fff;padding:6px 0 0;margin:0;position:relative}body,th,td,.p1,.p2{font-family:arial}p,form,ol,ul,li,dl,dt,dd,h3{margin:0;padding:0;list-style:none}input{padding-top:0;padding-bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}table,img{border:0}td{font-size:9pt;line-height:18px}em{font-style:normal;color:#cc0000}a em{text-decoration:underline}#wrapper{min-width:1080px;_zoom:1}#container{padding-left:20px}#content_right{border-left:1px solid #e1e1e1;float:right}.t{font-weight:normal;font-size:medium}.favurl{background-repeat:no-repeat;background-position:0 1px;padding-left:20px} #content_left .result-op,#content_left .result{margin-bottom:28px;margin-top:28px;}
</style>
亲，未找到你要的数据，我们的数据库还在完善中，你的一点支持，我们的无限动力，哈！我只能使用最后一招了！
点击下面按钮，瞬间百度，泪奔！小的无能，居然要求助万能的度娘~！<br/>
百度在此↓↓↓↓↓↓↓↓↓↓<br/>
<div id="container"class="container_s">
	<div id="content_left">
$regs[1]
<!--{/if}-->
<!--{template footer}-->