<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="height:100%;">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta property="qc:admins" content="275324151566151414116375636" />



<script language="javascript" type="text/javascript" src="http://www.familyday.com.cn/source/script_ajax.js"></script>

<script language="javascript" type="text/javascript" src="http://www.familyday.com.cn/template/aifaxian/js/jquery-1.9.1.min.js"></script>
<script src="http://www.familyday.com.cn/template/aifaxian/js/common.js" type="text/javascript"></script>
<style type="text/css">
@import url(template/default/medicine.css);
@import url(template/default/style.css);
</style>
<!--[if IE 6]>
<script src="http://www.familyday.com.cn/template/aifaxian/js/DD_belatedPNG_0.0.8a.js" mce_src="template/aifaxian/js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.next,background');
DD_belatedPNG.fix('.previous,background');
DD_belatedPNG.fix('.next,background');
DD_belatedPNG.fix('.icon1,background');
DD_belatedPNG.fix('.icon2,background');
DD_belatedPNG.fix('.icon3,background');
DD_belatedPNG.fix('.login,background');
DD_belatedPNG.fix('.reg,background');
DD_belatedPNG.fix('.logo,background');
DD_belatedPNG.fix('.gmcclogo,background');
DD_belatedPNG.fix('.whybox,background');
DD_belatedPNG.fix('.tgo,background');
DD_belatedPNG.fix('.up,background');
DD_belatedPNG.fix('.whybox font,background');
</script>
<![endif]-->

</head>
<body style="height:100%; position:relative;">
	<div id="append_parent"></div>
<div id="ajaxwaitid"></div>




