<!--{template firstheader}-->
  <div> <img id="bg"  src="./template/default/image/h7n9.jpg" style= "display:none " onload="this.style.display='';$('.imgload').hide();"/> </div>
<div style="position: absolute;left: 46%;top:80%;"><a href="space.php?do=othersubject"><input type="button" style="width:150px;height:60px;" value="进入h7n9专题"></input></a></div>




<script src="http://www.familyday.com.cn/template/aifaxian/js/important.js" type="text/javascript"></script>
<script type="text/javascript">

var bglist = new Array('http://ww2.sinaimg.cn/large/ae1d320cjw1e3i8oujesuj.jpg','http://ww2.sinaimg.cn/large/ae1d320cjw1e3i8ono4tfj.jpg','http://ww2.sinaimg.cn/large/ae1d320cjw1e3i8om3w12j.jpg','http://ww4.sinaimg.cn/large/ae1d320cgw1e3i9373555j.jpg','http://ww3.sinaimg.cn/large/ae1d320cgw1e3i933i9ksj.jpg');
</script>

