<!--{eval $_TPL['titles'] = array($fieldtitle, '群组');}-->
<!--{template header}-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="http://www.inwebson.com/demo/blocksit-js/blocksit.min.js"></script>
<link rel='stylesheet' href='template/default/mtag.css' media='screen' />
<script>
$(document).ready(function() {
	//vendor script
	//$('#header')
	//.css({ 'top':-50 })
	//.delay(1000)
	//.animate({'top': 0}, 800);
	
	//$('#footer')
	//.css({ 'bottom':-15 })
	//.delay(1000)
	//.animate({'bottom': 0}, 800);
	
	//blocksit define
	$(window).load( function() {
		$('#container').BlocksIt({
			numOfCol: 2,
			offsetX: 8,
			offsetY: 8
		});
	});
	
	//window resize
	var currentWidth = 1100;
	$(window).resize(function() {
		var winWidth = $(window).width();
		var conWidth;
		//if(winWidth < 660) {
		//	conWidth = 440;
		//	col = 2
		//} else if(winWidth < 880) {
		//	conWidth = 660;
		//	col = 3
		//} else if(winWidth < 1100) {
		//	conWidth = 880;
		//	col = 4;
		//} else {
		//	conWidth = 1100;
		//	col = 5;
		//}
		
		if(conWidth != currentWidth) {
			currentWidth = conWidth;
			$('#container').width(conWidth);
			$('#container').BlocksIt({
				numOfCol: col,
				offsetX: 8,
				offsetY: 8
			});
		}
	});
	
	//close ad
	$('.buttonclose a').on('click', function() {
		$(this).parent().parent().fadeOut(1000);
		$(this).off('click');
		return false;
	});
});
</script>
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="搜索群组" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="mtag" />
	<input type="hidden" name="view" value="hot" />
</form>
</div>
<h2 class="title"><img src="image/icon/mtag.gif">群组</h2>

<!--{if $space[self]}-->
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=thread"><span>群组话题</span></a></li>
		<li><a href="space.php?do=mtag&view=me"><span>我参与的群组</span></a></li>
		<li><a href="space.php?do=mtag&view=manage"><span>我管理的群组</span></a></li>
		<li class="active"><a href="space.php?do=mtag&view=hot"><span>热门群组</span></a></li>
		<li><a href="space.php?do=mtag&view=recommend"><span>推荐群组</span></a></li>
		<li class="null"><a href="cp.php?ac=thread">发起新话题</a></li>
		<li class="null"><a href="cp.php?ac=mtag">创建群组</a></li>
	</ul>
</div>
<!--{/if}-->

<div class="h_status">
群组分类：
<a href="space.php?do=mtag&view=hot"{$sub_actives[0]}>全部</a>
<!--{loop $_SGLOBAL['profield'] $value}-->
<span class="pipe">|</span><a href="space.php?do=mtag&id=$value[fieldid]"{$sub_actives[$value[fieldid]]}>$value[title]</a>
<!--{/loop}-->
</div>

<div class="box">
	<!--{if $list}-->
	<ul class="thread_list">
	<section id="wrapper" >

<div id="container" style="width:640px;">
			<!--{loop $list $key $value}-->

	<div class="grid">
		<div class="imgholder">
			<div class="threadimg60"  style="float:left;"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]"/></a></div>
		</div>
		<strong>&nbsp;<a href="space.php?do=mtag&tagid=$value[tagid]" style="font-weight:bold;">$value[tagname]</a></strong>
		<p>&nbsp;$value[title]</p>
		&nbsp;已有 <span class="num">$value[membernum]</span> 人加入
		<div class="meta">&nbsp;话题: $value[threadnum], 回帖: $value[postnum]</div>
	</div>

<!--{/loop}-->
</div>
</section>
	</ul>
	<div class="page">$multi</div>
	<!--{else}-->
	<p>还没有群组。</p>
	<!--{/if}-->
</div>

<!--{template footer}-->
